# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/server/node_modules
/client/node_modules
/client/.next
/.pnp
.pnp.js

/node_modules
/server/node_modules
/client/node_modules
/client/.next
/.pnp
.pnp.js
.next

# testing
/coverage

# production
/server/build
/client/build
/build
